<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Welcome</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

</head>
<body>
	<div th:replace="~{fragments/header :: header}">
		<h1> THIS IS A DEFAULT HEADER</h1>
	</div>
	<form th:action="@{/addPoney}"
         th:object="${poneyForm}" method="POST">
		<fieldset >
			<legend >Add your Poney ! </legend>
			<div >
				<label for="form-name">Name</label>
				<div >
					<input id="form-name" type="text"
						placeholder="Poney name..." th:field="*{name}">
				</div>
			</div>
			<div >
				<label  for="form-color">Color</label>
				<div >
					<input  id="form-color" type="text"
						placeholder="Poney main color..." th:field="*{color}">
				</div>
				<label  for="form-superPower">Power</label>
				<div >
					<input id="form-superPower" type="text"
						placeholder="Poney super power..." th:field="*{superPower}">
				</div>
				<label  for="form-imgUrl">Image URL</label>
				<div >
					<input  id="form-imgUrl" type="text"
						placeholder="Poney super power..." th:field="*{imgUrl}">
				</div>
			</div>
			<div >
				<input type="submit"  class="uk-button uk-button-default" value="Create" />
			</div>

		</fieldset>
	</form>

</body>

</html>