<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Welcome</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<!-- UIkit CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/uikit@3.8.1/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script
	src="https://cdn.jsdelivr.net/npm/uikit@3.8.1/dist/js/uikit.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/uikit@3.8.1/dist/js/uikit-icons.min.js"></script>


</head>
<body>

	<div th:replace="~{uk/fragments/header :: header}">
		<h1> THIS IS A DEFAULT HEADER</h1>
	</div>
	<div class="uk-margin uk-padding">
		<h1 class="uk-heading-large">Welcome</h1>
		<h2 th:utext="${message}">..!..</h2>
		<article class="uk-comment">
			<header class="uk-comment-header">
				<div class="uk-grid-medium uk-flex-middle" uk-grid>
					<div class="uk-width-auto">
						<img class="uk-comment-avatar" src="/img/lego-builder.png"
							width="80" height="80" alt="">
					</div>
					<div class="uk-width-expand">
						<h4 class="uk-comment-title uk-margin-remove">
							<a class="uk-link-reset" href="#" th:utext="${message}">...</a>
						</h4>
						<ul
							class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
							<li><a href="#">First Introduction</a></li>
							<li><a href="#">More Info</a></li>
						</ul>
					</div>
				</div>
			<div class="uk-comment-body">
				<p th:utext="${messageLocal}">...</p>
			</div>
		</article>
	</div>

	<div class="uk-margin uk-padding">
		<ul class="uk-thumbnav uk-flex-center" uk-margin>
			<li><a href="/uk/view"><img src="/img/lego-jack.jpg" width="100"
					alt="">Display</a></li>
			<li><a href="/uk/addPoney"><img src="/img/lego-cup.jpg" width="100"
					alt="">Add</a></li>
			<li><a href="/uk/list"><img src="/img/lego-hero.jpg" width="100"
					alt="">List</a></li>
		</ul>
	</div>
</body>

</html>