<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Welcome</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<!-- UIkit CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/uikit@3.8.1/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script
	src="https://cdn.jsdelivr.net/npm/uikit@3.8.1/dist/js/uikit.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/uikit@3.8.1/dist/js/uikit-icons.min.js"></script>


</head>
<body>

	<div th:replace="~{uk/fragments/header :: header}">
		<h1> THIS IS A DEFAULT HEADER</h1>
	</div>

	<div class="uk-margin uk-padding">

		<div class="uk-child-width-1-2@m" uk-grid>
			<div>
				<div class="uk-card uk-card-default">
					<div class="uk-card-media-top">
						<img th:src="${myPoney.imgUrl}" alt="">
					</div>
					<div class="uk-card-body">
						<h3 class="uk-card-title" th:utext="${myPoney.name}">...</h3>
						<div th:style="'background-color:'+${myPoney.color}">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
							sed do eiusmod tempor incididunt.</p>
						</div>
						<h5 th:text="'Color:  '+${myPoney.color}">...</h5>
						<h5 th:text="'SuperPower:  '+${myPoney.superPower}">...</h5>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>